
<div class="container">
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">{{user.name}}</h4>
                  <h6 class="text-muted card-subtitle mb-2">{{user.email}}</h6>
                  <p class="card-text">{{user.trabajo}}</p>
                  <p class="card-text">{{user.desc}}</p>
                  <a class="card-link" id="editarPC" (click)="edProfile()" >Editar Perfil</a></div>
          </div>
      </div>
  </div>
</div>

<div class="container" *ngIf="editProfile">
    <h1>Editar Perfil</h1>
  	<hr>
  <div class="row">
      <!-- left column -->
      <!--<div class="col-md-6">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          
          <input type="file" >
        </div>
      </div> -->
      
      <!-- edit form column -->
      <div class="col-md-6 personal-info">

        <h3>Información Personal</h3>
        
        <form (submit)="updateProf()">
          
         <div class="form-group">
            <label class="col-lg-3 control-label">Nombre:</label>
            <div class="col-lg-8">
              <input class="form-control" id="nombrePC" [(ngModel)]="nombre" name="nombre" type="text" value="hola">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Breve descripción:</label>
            <div class="col-lg-8">
              <input class="form-control" [(ngModel)]="descr"  name="descr" type="text" value="fffff">
            </div>
          </div>
 
          <div class="form-group">
            <label class="col-lg-3 control-label">Trabajo:</label>
            <div class="col-lg-8">
              <input class="form-control" [(ngModel)]="work" name="work" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Link Facebook:</label>
            <div class="col-lg-8">
              <input class="form-control" [(ngModel)]="facebook" name="facebook" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Link TWT:</label>
            <div class="col-lg-8">
              <input class="form-control" [(ngModel)]="twt" name="twt" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" id="guardarC" value="Guardar cambios">
              <span></span>
              <input [ngStyle]="{float:right}" (click)="edHProfile()" class="btn btn-danger" value="Cancelar">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
