
.container.editPost {
    background-color: white;
    margin-top: 10%;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 20px;
  }
  
  #buttonCan{
    background-color: rgb(39, 161, 182);
    border-color: rgb(39, 161, 182);
    
}

#buttonGuardar{
  background-color:rgba(0, 77, 177, 0.788);
    border-color: rgba(0, 77, 177, 0.788);
}
  
  .col.editPlace {
    /*display: inline-grid;*/
    /*height: 24%;*/
    padding: 10px;
  }
  
  .inputStyle {
    width: 60%;
    border: none;
    border-bottom: 2px solid rgba(9, 46, 71, 0.788);
  }
  
  .btn:not(:disabled):not(.disabled) {
    width: 40%;
  }
  
  .input2Style {
    width: 100%;
    padding: 23px;
    border: none;
    border-bottom: 2px solid rgba(9, 46, 71, 0.788);
   
  }
  
 
  
  .setButtons2 {
    padding-top: 17px;
    padding-left: 32px;
  }
  
  .titleSt {
    color:rgba(9, 46, 71, 0.788);
    font-weight: bolder;
  }
  
  .contenSt {
    padding-top: 28px;
    color:rgba(9, 46, 71, 0.788);
    font-weight: bolder;
  }


  
  .row.btnsRow {
    text-align: center;
    height: 50%;
  }
  
  .row.btns2Row {
    text-align: center;
    height: 50%;
    padding-top: 15%;
  }