ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0 !important;
  background-color:rgba(9, 46, 71, 0.788);
}

li{
  float: left;
}

.right{
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active-link {
  background-color: #ffa958 ;
}

.log-out{
  color: red;
}
